
.tabs {
    height: 30px;
    width: 100vw;
    position: absolute;
    top: 0px;
    background-color: black;
    color: white;
    
}

.left-header {
    
    height: 30px;
    width: 30vw;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border: 1px solid grey;
    box-sizing: border-box;
    float: left;
}

.tab-item {
    
    height: 30px;
    display: inline-block;
    padding: 5px;
    width: 60px;
    border: 1px solid grey;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    
}

.tab-title {

    display: inline-block;
}